
body {
  padding-top: 56px;
}
#logout {
cursor:pointer;
width: 100px;
text-indent: 40px;	
display: block;
display: incline-block;
margin: 0 auto;
text-align:left;
font-size: 14px;
color:White;
right:10px
}

#container {
  position: relative;
}

#footer{
  position: absolute;
  bottom: 0;
}
