<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Overview</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/styles/home.css" rel="stylesheet">
<style>
th {
  color: white;
  background: black;
}



.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #f4b6c2; /* Green */
  color: white;
}

</style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="img-responsive2"
        src="../static/images/ILSLogo.png" width="95" height="80">Integrated Library System Singapore</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booksearch">Book Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/showfine">My Fines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reserve">My Reservations</a>
          </li>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Overview ILS
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
        <a class="res-nav_click" href="/logout"><i class="fa-bars"></i></a>
            <a href="/logout" id="logout" >Log out</a>
      </div>
    </div>
  </nav>

<!-- Creation of Dropdownlist and Button -->

</script>

<div id="label"></div>
<div class="container" style="margin-top:60px">
 <form action="/admin" method="POST">
   <select id="RequestType" name = "RequestType"> Select:
     <option selected value="loan">Loans</option>
     <option value="reservation">Reservations</option>
     <option value="outstandingfine">Outstanding Fines</option>
    </select> <br> 
    <p><input type="Submit" class = "button" value="Submit"/></p>
  </form>
</div>


<!-- Populating of Data -->
  <center><table class="table table-striped">
    {% for rows in param %}
      <th>{{rows}}</th>
    {% endfor %}

    {% for row in data %}
    <tr>
    {% for d in row %}
    <td>{{d}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
  </table>
</center>

</body>

</html>
  


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 


