<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fines</title>

  <!-- Bootstrap core CSS -->

  <link href="../static/bootstrap.min.css" rel="stylesheet">


  <!-- Custom styles for this template -->


</head>


<body style = "padding-top: 58px;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="img-responsive2"
        src="../static/images/ILSLogo.png" width="95" height="80">Integrated Library System Singapore</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booksearch">Book Search</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">My Fines
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reserve">My Reservations</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Overview ILS</a>
          </li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
            <a href="/logout" id="logout" >Log out</a>
      </div>
    </div>
  </nav>


{% if count == 0 %}
<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">You currently have no outstanding fine.</p>
      </div>
    </div>

{% else %}
<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">You currently have {{count}} outstanding fines, please proceed to payment.</p>
      </div>
    </div>

{% endif %}

 <div class="main" >
<form action='#' method="post">
                  {% with messages = get_flashed_messages() %} {% if messages %}
                  <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
                     <span>{{ messages[0] }}</span>
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     </button>
                  </div>
                  {% endif %} {% endwith %}
                 <div class="form-group">
               </div>



<table class="table table-striped">
  <thead>
    <tr>
        <th>Payment ID</th>
        <th>Fine Amount</th>
        <th>Pay Fine</th>
    </tr>
    </thead>    
    <tbody>   
    {% for row in data %} 
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td><a class="btn btn-info" role="button" href="{{ url_for('payFine', paymentid=row.paymentID) }}">Pay</a></td>
            </tr>
    </tbody>
    {% endfor %}
</table>





</body>


</html>
